/*sla oq chamar isso*/
:root{
    --cor-Red:rgb(255, 0, 0);
    --cor-BaseText:#6d6d6d;
    --cor-White:#fff;
    --cor-Background:black;
}


/*ESTILO GERAL*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-color:var(--cor-Background);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--cor-Red);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato button:hover{
    box-shadow: 0px 0px 8px rgba(255, 0, 0, 0.907);
    transform: scale(1.05);
}

h2.titulo{
    color: #fff;
    font-size: 40px;
    text-align: center;
}

h2.titulo span{
    color: var(--cor-Red);
}

/*ESTILO CABEÇARIO*/

header{
    padding: 10px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Logo{
    width: 70px;
}

header a{
    color: var(--cor-BaseText);
    text-decoration: none;
    display: inline-block;
}

header a:hover{
    color: var(--cor-Red);
    transform: scale(1.05);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0% 40px;
}

/*ESTILO TOPO DO SITE*/

section.topo-do-site{
    padding: 40px 4%;
    background-image: url(../images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    align-content: center;
    
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
    text-align: center;
    
}

section.topo-do-site h1{
    color: var(--cor-White);
    font-size: 40px;
    line-height: 40px;
}

.topo-do-site .text-topo-site p{
    color: var(--cor-White);
    margin: 40px 0px;
}

/*especialidades*/
section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .espec_box{
    color: #fff;
    padding:  40px;
    margin-top: 45px;
    border-radius: 30px;
    transition: .2s;
    width: 700px;
}

.especialidades .espec_box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--cor-Red);
}

.especialidades .espec_box h3{
    color: var(--cor-Red);
    font-size: 30px;
    margin: 15px 0px;
}

#militar{
    background-image: url(../images/night.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#protection{
    background-image: url(../images/soldier2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#training{
    background-image: url(../images/gun.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}